**Data Preprocessing**

**The Data Preprocessing activities are as follows:-**

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

**1) Data Scaling using MinMaxScaler from Scikit-Learn**

In [2]:
df= pd.read_csv('../input/ams-prediction/amsPredictionSheet11.csv')
df.head()

   Attendance  MSE  HRS  ESE
0          70   10   17   42
1          92    7   20   39
2          67    3   18   32
3          82   16   13   50
4          80    9   10   44

In [3]:
scaler = MinMaxScaler()
df_values = df.values
df_scaled = scaler.fit_transform(df_values)
normalized_df = pd.DataFrame(df_scaled)
normalized_df.head()

          0         1     2        3
0  0.222222  0.500000  0.75  0.31250
1  0.833333  0.285714  0.90  0.21875
2  0.138889  0.000000  0.80  0.00000
3  0.555556  0.928571  0.55  0.56250
4  0.500000  0.428571  0.40  0.37500

In [4]:
normalized_df.describe()

               0          1          2          3
count  73.000000  73.000000  73.000000  73.000000
mean    0.547184   0.484344   0.545205   0.457192
std     0.264079   0.217648   0.285064   0.206798
min     0.000000   0.000000   0.000000   0.000000
25%     0.361111   0.357143   0.300000   0.312500
50%     0.500000   0.500000   0.600000   0.468750
75%     0.777778   0.571429   0.800000   0.562500
max     1.000000   1.000000   1.000000   1.000000

**2) Data Standardisation using StandardScaler from Scikit-Learn**

In [5]:
from sklearn.preprocessing import  StandardScaler
std_scaler = StandardScaler()
df_values = df.values
df_std= std_scaler.fit_transform(df_values)
standardized_df = pd.DataFrame(df_std)
standardized_df.head()

          0         1         2         3
0 -1.239064  0.072429  0.723388 -0.704518
1  1.091073 -0.918938  1.253227 -1.160996
2 -1.556810 -2.240760  0.900001 -2.226111
3  0.031920  2.055161  0.016936  0.512756
4 -0.179911 -0.258027 -0.512904 -0.400200

In [6]:
standardized_df.describe()

                  0             1             2             3
count  7.300000e+01  7.300000e+01  7.300000e+01  7.300000e+01
mean   5.718409e-16  3.239418e-16  1.338351e-16 -5.201319e-16
std    1.006920e+00  1.006920e+00  1.006920e+00  1.006920e+00
min   -2.086386e+00 -2.240760e+00 -1.925809e+00 -2.226111e+00
25%   -7.094874e-01 -5.884823e-01 -8.661302e-01 -7.045184e-01
50%   -1.799109e-01  7.242860e-02  1.935486e-01  5.627810e-02
75%    8.792420e-01  4.028841e-01  9.000012e-01  5.127560e-01
max    1.726564e+00  2.385617e+00  1.606454e+00  2.642986e+00

In [7]:
normalized_df.describe()

               0          1          2          3
count  73.000000  73.000000  73.000000  73.000000
mean    0.547184   0.484344   0.545205   0.457192
std     0.264079   0.217648   0.285064   0.206798
min     0.000000   0.000000   0.000000   0.000000
25%     0.361111   0.357143   0.300000   0.312500
50%     0.500000   0.500000   0.600000   0.468750
75%     0.777778   0.571429   0.800000   0.562500
max     1.000000   1.000000   1.000000   1.000000

**Categorical Data**

**3) Converting Categorical Data to Numeric data through Replacing values**

In [8]:
df= pd.read_csv('../input/std-cat/std cat.csv')
df.head()

        RNO        State Category Gender
0  20150601  Maharashtra      OBC      F
1  20150602  Maharashtra       SC      M
2  20150603  Maharashtra       ST      M
3  20150604           JK      GEN      F
4  20150605     Nagaland      GEN      M

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RNO       5 non-null      int64
 1   State     5 non-null      object
 2   Category  5 non-null      object
 3   Gender    5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

In [10]:
ew={'F':0,'M':1}
df=df.replace({'Gender':new})
df.info()

NameError: name 'new' is not defined

In [11]:
df.describe()

                RNO
count  5.000000e+00
mean   2.015060e+07
std    1.581139e+00
min    2.015060e+07
25%    2.015060e+07
50%    2.015060e+07
75%    2.015060e+07
max    2.015060e+07

In [12]:
df.head()

        RNO        State Category Gender
0  20150601  Maharashtra      OBC      F
1  20150602  Maharashtra       SC      M
2  20150603  Maharashtra       ST      M
3  20150604           JK      GEN      F
4  20150605     Nagaland      GEN      M

**4) Converting Categorical Data to Numeric data through LabelEncoder from Scikit-Learn 5 Converting Categorical Data to Numeric data through onehot encoding using Pandas dummy method**

In [13]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['State'] = lb.fit_transform(df['State'])
df.head()

        RNO  State Category Gender
0  20150601      1      OBC      F
1  20150602      1       SC      M
2  20150603      1       ST      M
3  20150604      0      GEN      F
4  20150605      2      GEN      M

In [14]:
df = pd.get_dummies(df, columns=['Category'], prefix = ['Cat'])
df.head()

        RNO  State Gender  Cat_GEN  Cat_OBC  Cat_SC  Cat_ST
0  20150601      1      F        0        1       0       0
1  20150602      1      M        0        0       1       0
2  20150603      1      M        0        0       0       1
3  20150604      0      F        1        0       0       0
4  20150605      2      M        1        0       0       0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RNO      5 non-null      int64
 1   State    5 non-null      int64
 2   Gender   5 non-null      object
 3   Cat_GEN  5 non-null      uint8
 4   Cat_OBC  5 non-null      uint8
 5   Cat_SC   5 non-null      uint8
 6   Cat_ST   5 non-null      uint8
dtypes: int64(2), object(1), uint8(4)
memory usage: 268.0+ bytes

In [16]:
df.describe()

                RNO     State   Cat_GEN   Cat_OBC    Cat_SC    Cat_ST
count  5.000000e+00  5.000000  5.000000  5.000000  5.000000  5.000000
mean   2.015060e+07  1.000000  0.400000  0.200000  0.200000  0.200000
std    1.581139e+00  0.707107  0.547723  0.447214  0.447214  0.447214
min    2.015060e+07  0.000000  0.000000  0.000000  0.000000  0.000000
25%    2.015060e+07  1.000000  0.000000  0.000000  0.000000  0.000000
50%    2.015060e+07  1.000000  0.000000  0.000000  0.000000  0.000000
75%    2.015060e+07  1.000000  1.000000  0.000000  0.000000  0.000000
max    2.015060e+07  2.000000  1.000000  1.000000  1.000000  1.000000

In [17]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
df['State'] = lb.fit_transform(df['State'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RNO      5 non-null      int64
 1   State    5 non-null      int64
 2   Gender   5 non-null      object
 3   Cat_GEN  5 non-null      uint8
 4   Cat_OBC  5 non-null      uint8
 5   Cat_SC   5 non-null      uint8
 6   Cat_ST   5 non-null      uint8
dtypes: int64(2), object(1), uint8(4)
memory usage: 268.0+ bytes

In [19]:
df.head()

        RNO  State Gender  Cat_GEN  Cat_OBC  Cat_SC  Cat_ST
0  20150601      1      F        0        1       0       0
1  20150602      1      M        0        0       1       0
2  20150603      1      M        0        0       0       1
3  20150604      0      F        1        0       0       0
4  20150605      2      M        1        0       0       0

In [20]:
df.describe()

                RNO     State   Cat_GEN   Cat_OBC    Cat_SC    Cat_ST
count  5.000000e+00  5.000000  5.000000  5.000000  5.000000  5.000000
mean   2.015060e+07  1.000000  0.400000  0.200000  0.200000  0.200000
std    1.581139e+00  0.707107  0.547723  0.447214  0.447214  0.447214
min    2.015060e+07  0.000000  0.000000  0.000000  0.000000  0.000000
25%    2.015060e+07  1.000000  0.000000  0.000000  0.000000  0.000000
50%    2.015060e+07  1.000000  0.000000  0.000000  0.000000  0.000000
75%    2.015060e+07  1.000000  1.000000  0.000000  0.000000  0.000000
max    2.015060e+07  2.000000  1.000000  1.000000  1.000000  1.000000